Django>=2.1.5
django-cors-headers==2.4.0
django-rest-swagger==2.2.0
djangorestframework>=3.9.1
llvmlite==0.24.0
magenta==0.3.12
numba==0.39.0
resampy==0.2.1
pretty-midi==0.2.8
tensorboard==1.10.0
tensorflow==1.10.0
protobuf==3.6.1